{% extends "mainapp/layouts/sidebar_layout.html" %}
    
    {% block head_title %}Payment Details{% endblock %}
    
    {% block main_content %}
    <div class="container">
        <h1>Payment Details</h1>
    
        <div class="card">
            <div class="card-body">
                
                <div class="row mb-2">
                    <div class="col-4"><strong>Amount:</strong></div>
                    <div class="col-8">{{ payment.amount }}</div>
                </div> 
                <div class="row mb-2">
                    <div class="col-4"><strong>Payment Date:</strong></div>
                    <div class="col-8">{{ payment.payment_date }}</div>
                </div> 
                <div class="row mb-2">
                    <div class="col-4"><strong>Stripe Charge Id:</strong></div>
                    <div class="col-8">{{ payment.stripe_charge_id }}</div>
                </div>
            </div>
        </div>
    
        <div class="mt-3">
            <a href="{% url 'payment_update' payment.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'payment_delete' payment.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'payment_list' %}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
    {% endblock %}